.opinion {
  background-image: radial-gradient(circle, $color1, $color3);
  text-align: center;
  font-weight: 800;
  text-align: center;
  h3 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #enviar {
    margin-bottom: 10px;
  }
}
