@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Noto+Sans+Kawi&family=Noto+Sans+TC&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Mono", monospace;
}

$color1: #ad343e;
$color2: #e0e0ce;
$color3: #f2af29;
$color4: #474747;

@import "header";
@import "footer";
@import "pag-principal";
@import "productos";
@import "reseñas";
@import "sobre";
@import "faq";
@import "320px";
@import "1200px";
@import "1440px";
@import "body";
